In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homicides.csv")
print("numero de linhas:", len(df.index))
df

numero de linhas: 6

,Municipio,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Latitude,Longitude,Populacao
0,Campinas,690.0,657.0,755.0,708.0,716.0,633.0,581.0,639.0,632.0,713.0,673.0,735.0,-22.907104,-47.063240,1138055.0
1,São Paulo,3363.0,3181.0,3338.0,3229.0,3229.0,2873.0,2827.0,2821.0,2783.0,2907.0,2932.0,3114.0,-23.533773,-46.625290,11480900.0
2,Ribeirão Preto,503.0,494.0,492.0,495.0,478.0,419.0,421.0,447.0,443.0,521.0,419.0,511.0,-21.177500,-47.810280,691787.0
3,Santos,599.0,521.0,583.0,543.0,556.0,438.0,463.0,448.0,467.0,476.0,510.0,541.0,-23.944841,-46.330376,420524.0
4,Sorocaba,504.0,489.0,532.0,510.0,502.0,425.0,438.0,459.0,457.0,444.0,435.0,525.0,-23.501670,-47.458060,713538.0
5,São José dos Campos,685.0,622.0,711.0,751.0,633.0,590.0,545.0,659.0,570.0,604.0,599.0,672.0,-23.179440,-45.886940,693247.0

## Pergunta
Qual a cidade mais "perigosa"?

### Ideias
- Maior número de homicídios
- Números de homicídios ao longo do tempo
- Maior número de homicídios por habitante
- Número de homicídios ao longo do tempo por habitante
- Distribuição do número de homicídios por cidade
- Distribuição do número de homicídios por habitante por cidade

### Vo faze

- Gráfico de área pra ver como a violência como um todo evolui ao longo do tempo

In [3]:
# Colinha

meses = df.iloc[:,1:-3]

for mes in meses.columns:
    print(sorted(meses[mes]))

[503.0, 504.0, 599.0, 685.0, 690.0, 3363.0]
[489.0, 494.0, 521.0, 622.0, 657.0, 3181.0]
[492.0, 532.0, 583.0, 711.0, 755.0, 3338.0]
[495.0, 510.0, 543.0, 708.0, 751.0, 3229.0]
[478.0, 502.0, 556.0, 633.0, 716.0, 3229.0]
[419.0, 425.0, 438.0, 590.0, 633.0, 2873.0]
[421.0, 438.0, 463.0, 545.0, 581.0, 2827.0]
[447.0, 448.0, 459.0, 639.0, 659.0, 2821.0]
[443.0, 457.0, 467.0, 570.0, 632.0, 2783.0]
[444.0, 476.0, 521.0, 604.0, 713.0, 2907.0]
[419.0, 435.0, 510.0, 599.0, 673.0, 2932.0]
[511.0, 525.0, 541.0, 672.0, 735.0, 3114.0]

In [ ]:
- ranking das cidades por numero de homicidios por habitante

In [4]:
# Somando colunas
agregado_municipio = pd.concat([df.iloc[:,0], meses.sum(axis=1), df.iloc[:,-1]], axis=1)
display(agregado_municipio)
# agregado_municipio[0]
agregado_municipio[0] = agregado_municipio[0] / agregado_municipio["Populacao"] * 1000
display(agregado_municipio)

             Municipio        0   Populacao
0             Campinas   8132.0   1138055.0
1            São Paulo  36597.0  11480900.0
2       Ribeirão Preto   5643.0    691787.0
3               Santos   6145.0    420524.0
4             Sorocaba   5720.0    713538.0
5  São José dos Campos   7641.0    693247.0

             Municipio          0   Populacao
0             Campinas   7.145525   1138055.0
1            São Paulo   3.187642  11480900.0
2       Ribeirão Preto   8.157135    691787.0
3               Santos  14.612721    420524.0
4             Sorocaba   8.016392    713538.0
5  São José dos Campos  11.022046    693247.0

# Distribuição do número de homicidios por habitante por cidade

In [12]:
df_copy = df.copy()

df_copy.iloc[:, 1:-3] = df_copy.iloc[:, 1:-3].div(df_copy["Populacao"], axis = 0).multiply(1000)

for i in range(len(df_copy.index)):
    print(f"Cidade: {df_copy["Municipio"].iloc[i]}")
    print(df_copy.iloc[i,1:-3].quantile([.25, .5, .75]))

df_copy

Cidade: Campinas
0.25    0.560166
0.50    0.598829
0.75    0.627167
Name: 0, dtype: object
Cidade: São Paulo
0.25     0.24924
0.50    0.263307
0.75     0.28125
Name: 1, dtype: object
Cidade: Ribeirão Preto
0.25     0.63242
0.50    0.701083
0.75    0.718429
Name: 2, dtype: object
Cidade: Santos
0.25    1.108141
0.50    1.225852
0.75    1.298975
Name: 3, dtype: object
Cidade: Sorocaba
0.25    0.620149
0.50    0.664295
0.75    0.708442
Name: 4, dtype: object
Cidade: São José dos Campos
0.25    0.860804
0.50    0.905161
0.75     0.97404
Name: 5, dtype: object

,Municipio,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Latitude,Longitude,Populacao
0,Campinas,0.606298,0.577301,0.663413,0.622114,0.629144,0.556212,0.510520,0.561484,0.555333,0.626508,0.591360,0.645839,-22.907104,-47.063240,1138055.0
1,São Paulo,0.292921,0.277069,0.290744,0.281250,0.281250,0.250242,0.246235,0.245712,0.242403,0.253203,0.255381,0.271233,-23.533773,-46.625290,11480900.0
2,Ribeirão Preto,0.727102,0.714093,0.711202,0.715538,0.690964,0.605678,0.608569,0.646153,0.640371,0.753122,0.605678,0.738667,-21.177500,-47.810280,691787.0
3,Santos,1.424413,1.238930,1.386366,1.291246,1.322160,1.041558,1.101007,1.065338,1.110519,1.131921,1.212773,1.286490,-23.944841,-46.330376,420524.0
4,Sorocaba,0.706339,0.685317,0.745580,0.714748,0.703536,0.595623,0.613843,0.643273,0.640470,0.622251,0.609638,0.735770,-23.501670,-47.458060,713538.0
5,São José dos Campos,0.988104,0.897227,1.025608,1.083308,0.913094,0.851068,0.786156,0.950599,0.822218,0.871262,0.864050,0.969351,-23.179440,-45.886940,693247.0